.task-Input{
    background-color: #ffffff; 
    border: 1px solid #e0e0e0; 
    border-radius: 12px; 
    padding: 24px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08); 
    margin-bottom: 24px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-out;;
}

.task-Input:hover{
    transform: translateY(-4px);
    transform: translateX(4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.main-input {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.main-input input[type="text"] {
    flex: 2; /* テキスト入力を大きく */
    border: 1px solid #ddd;
    border-radius: 8px 0 0 8px;
    padding: 10px;
    font-size: 1rem;
}

.main-input input[type="date"] {
    flex: 1; 
    border: 1px solid #ddd;
    border-radius: 0;
    padding: 10px;
    font-size: 1rem;
}

.main-input button {
    flex: 0; 
    border-radius: 0 8px 8px 0;
    border: 1px solid #ddd;
    border-left: none;
    padding: 10px 16px;
    background: #4CAF50;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease-in-out;
}

.main-input button:hover {
  /* ホバー時のスタイル */
    background:green; 
}
.main-input button:active {
  /* クリック時のスタイル */
  transform: scale(0.98); /* 押された感を出す */
}

.sub-input {
    display: flex;
    justify-content: center; 
    align-items: center;     
    gap: 40px;               
    margin-top: 8px;
    margin-bottom: 16px;
}

.priority-input{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
    font-size: 0.9rem;
    gap: 12px;
    margin-top: 8px;
}

.priority-input label{
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 0.9rem;
}

.priority-input input[type="radio"] {
  display: none; /* デフォルトの丸を非表示にしてカスタマイズ */
}

.priority-input span {
    padding: 4px 8px;
    border-radius: 4px;
    color: black;
}

.category-input {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 12px;
}

.category-input select{
    padding: 8px 12px;
    border-radius: 8px;
}

.category-input option{
    padding: 6px 12px;
}

.priority-input input[type="radio"]:checked + span.high {
    background-color: #e74c3c;
    color: white;
}

.priority-input input[type="radio"]:checked + span.medium {
    background-color: #f39c12;
    color: white;
}

.priority-input input[type="radio"]:checked + span.low {
    background-color: #2ecc71;
    color: white;
}




